.finished-container {
  display: none;
  left: 10px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 10px; }

#grid {
  width: 650px; }

.grid-element {
  background-color: black;
  width: 200px;
  height: 200px;
  float: left;
  margin-top: 10px;
  margin-left: 10px; }

.grid-content-style {
  color: white;
  font-weight: bold;
  font-size: 200px;
  line-height: 200px;
  text-align: center; }
